medicohealth-backend/medicohealth-service-mybatis/src/main/resources/generator
medicohealth-backend/medicohealth-security-cas/medicohealth-cas-server/src/main/resources/application.properties
medicohealth-frontend/node_modules
